/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 body {
  background-color: #181818;
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
  color: #e4e6eb;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 5px;
  align-items: center;
}

.quotes-div {
margin: auto;
width: 80%;
padding-top: 60px;

}

.quotes-block {
  font-size: 48px;

  text-align: center;
  
}
.author-p {
  font-size: 28px;
  font-style: italic;

  float: right;
}

#weather {
  display: flex;
  align-items: center;
}

#clock {
  padding-right: 78px;
}

//Search Bar